*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  display: block;
  width: 100%;
}

a {
  text-decoration: none;
}

body {
  background-color: rgb(96, 165, 255);
}

.header {
  margin-top: 50px;
}

.header_title {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.our_photo {
  height: 20%;
  width: 50%;
  margin: 0 auto;
  /* border: 10px solid #fff; */
}

.our_photo img {
  border-radius: 100%;
  border: 10px solid #fff;
}
